body {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  font-family: Arial;
  justify-content: center;
  align-items: center;
}
#room-panel {
	width: 50%;
  min-height: 30%;
  max-height: 70%;
  justify-content: space-between;
}
ul {
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  display: flex;
  overflow-y: auto;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
}
.room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.room:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.room:hover {
  cursor: pointer;
  animation: pulse .5s ease-in infinite alternate;
}

#new-room {
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-top: 1px solid lightgray;
}
#new-room-name {
  flex-grow: 5;
  width: 0;
  padding: 8px;
  margin: 2px 4px;
  border-bottom: 1px solid lightgray;
}
#new-room-add {
  cursor: pointer;
  color: #1cd808;
  transition: .5s ease-in;
}
#new-room-add:hover {
  filter: brightness(.7);
  transition: .5s ease-out;
}

#nickname:invalid {
  color: red;
  border: 1px solid tomato;
  transition: .5s ease-out;
}
#nickname {
  width: 0;
  flex-grow: 1;
  padding: 8px;
  margin: 2px 4px;
  border: 1px solid lightgray;
  box-shadow: none;
  text-align: center;
  transition: .5s ease-in;
}

@keyframes pulse {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(.1);
  }
}
