body {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  font-family: Arial;
}
.shadow {
  box-shadow: 0 0 2px 1px #06ab9d;
  border-radius: 2px;
}
#left-side {
  flex-basis: 80%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}
#room-panel {
	width: 70%;
  min-height: 30%;
  max-height: 70%;
  justify-content: space-between;
}
ul {
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  display: flex;
  overflow-y: auto;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
}
.room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.room:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.room:hover {
  cursor: pointer;
  animation: pulse .5s ease-in infinite alternate;
}

#new-room {
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-top: 1px solid lightgray;
}
#new-room-name {
  flex-grow: 1;
  width: 0;
}
#new-room-add {
  cursor: pointer;
  color: #1cd808;
  transition: .5s ease-in;
}
#new-room-add:hover {
  filter: brightness(.7);
  transition: .5s ease-out;
}

#right-side {
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: flex-end;
}
#nickname:invalid {
  color: red;
  background: tomato;
  box-shadow: 0 0 5px 2px tomato;
  transition: .5s ease-out;
}
#nickname {
  background: #1cd808;
  color: white;
  width: 80%;
  font-size: 1.3em;
  
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  transition: .5s ease-in;
}

@keyframes pulse {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(.1);
  }
}
